<!-- content -->
<div *ngFor="let definition of term.definitions">
    <div class="body" style="font-weight: bold;">
        {{definition.pos}} {{definition.definition}}
    </div>
    <!-- Examples -->
    <div *ngIf="examplesMap.get(definition.id) as phrases">
        <!-- Phrase header -->
        <div *ngIf="phrases.length > 1; then thenBlock else elseBlock"></div>
        <ng-template #thenBlock>
            <div class="section-header">Examples</div>
        </ng-template>
        <ng-template #elseBlock>
            <div class="section-header">Example</div>
        </ng-template>
        <!-- Phrase content -->
        <div class="phrase-container">
            <div *ngFor='let phrase of phrases'>
                <div style="padding-bottom: 8px">
                    <app-phrase [phrase]='phrase'></app-phrase>
                </div>
            </div>
        </div>
    </div>
</div>  