<mat-accordion>
    <mat-expansion-panel 
        *ngFor="let collection of collections$ | async; last as last"
    >
        <mat-expansion-panel-header>
            <mat-panel-title class="title">
                {{collection.title}}
            </mat-panel-title>
            <mat-panel-description>
                <!-- {{expandedId===term.id ? '' : term.definitions[0].definition}} -->
            </mat-panel-description>
        </mat-expansion-panel-header>
    
        <!-- content -->
    <app-collection [collection]='collection'></app-collection>
    </mat-expansion-panel>
</mat-accordion>
