:root {
    --content-width: 600px;
    --spacing-unit: 32px;
}

.button-text {
    padding-left: 10px;
    padding-right: 6px; /* Add 24px to align the text in the center since the icon's width is 24px */
}

.wrapper {
    align-items: center;
}

.container {
    max-width: 600px;
    margin: auto;
    padding: 32px;
}