<mat-toolbar color='primary'>
  
  <a mat-button routerLink="/">
    <mat-icon aria-hidden="false" aria-label="Home">home</mat-icon>
    <span class="button-text">Mvskoke Language Dictionary</span>
  </a>

  <span class="fill-remaining-space"></span>
  
</mat-toolbar>

<div class="container">
  <nav mat-tab-nav-bar mat-align-tabs="center">
    <a mat-tab-link
    *ngFor="let link of navLinks"
    [routerLink]="link.link"
    routerLinkActive #rla="routerLinkActive"
    [active]="rla.isActive">{{link.label}}
    </a>
  </nav>
  <div class="tab-container">
    <router-outlet></router-outlet>
  </div>
</div>